<!-- header.component.html -->
<div class="wrap">
    <div class="logo">Ram Rajamahanthi.</div>
    <button class="hamburger" (click)="toggleMobileMenu()">&#9776;</button>
    <nav [class.open]="mobileMenuOpen">
      <a (click)="onHomeClick(); closeMobileMenu()">Portfolio</a>
      <a (click)="onSkillsClick(); closeMobileMenu()">My Skills</a>
      <a (click)="onExperienceClick(); closeMobileMenu()">Experience</a>
      <a (click)="onContactClick(); closeMobileMenu()">Contact Me</a>
      <button (click)="openResumePopup(); closeMobileMenu()">View Resume</button>
    </nav>
    <app-resume-popup *ngIf="showResumePopup" (closePopup)="closeResumePopup()"></app-resume-popup>
  </div>
  