.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  color: #3a54bd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  flex: 2;
  justify-content: space-around;
  transition: max-height 0.3s ease;
}

a {
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

a:hover {
  border-color: #030303;
}

body {
  padding-top: 120px;
}

section {
  padding-top: 60px;
  scroll-margin-top: 50px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .hamburger {
    display: inline-block;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
  }

  nav.open {
    display: flex;
    max-height: 500px;
  }

  a {
    margin: 10px 0;
  }
}
