<section id="contact" class="contact-section">
  <div class="container">
    <h2 class="section-title" style="color: #3a54bd;">Contact Me</h2>
    <p class="section-description">
      Connect with me on LinkedIn to discuss potential opportunities and collaborations!
    </p>
    
    <div class="linkedin-link">
      <a href="https://www.linkedin.com/in/ramrajamahanthi/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/linkedin.png" alt="LinkedIn Icon" class="linkedin-icon" />
        <span>Visit my LinkedIn</span>
      </a>
    </div>
  </div>
</section>
