<!-- Home Section -->
<section id="home" class="container mt-5 pt-5">
  <div class="row align-items-center">
    <!-- Left side: Rounded Image -->
    <div class="col-md-6 text-center">
      <img src="assets/images/profilepic.jpeg" alt="Profile Image" class="img-fluid rounded-circle">
    </div>

    <!-- Right side: Description -->
    <div class="col-md-6">
      <h2 class="greeting">Hi, I'm Ram.</h2>
      <p class="smiley-text"> 
        Glad to see you here <span class="smiley"></span> I'm from <strong>Phoenix , Arizona</strong> and I live with my wife and two kids. I love to spend time with my family and friends. My hobbies include playing pickle ball , watching movies, cooking , listening to music, reading books, and learning new technologies. And last but not least I love Hiking , sunsets and exploring new places.
      </p>

      <p> 
        Coming to my profossion I'm a <strong>Project Techincal Lead developer</strong> with a strong focus on Java, Angular, and Full-Stack development, I specialize in designing , coding ,  building scalable, cloud-native applications. With extensive experience in both backend and frontend technologies, I have successfully led multiple projects, contributing at every stage—from designing and developing applications to migrating them from on-premises infrastructure to cloud-native platforms, including Kubernetes.
      </p>
      
      <p>
        I also do manage and responsible for maintaining/building complex, highly critical applications in my area while leading a cross-functional team of <strong>15+</strong> members, ensuring smooth day-to-day execution of the project, and timely deliveries. 
      </p>
    
      

      <!-- Social Media Icons -->
      <div class="d-flex justify-content-around mt-3">
        <a href="https://x.com/ramrajamahanthi" target="_blank" class="icon-circle">
          <img src="assets/images/twitter.png" alt="Twitter">
          <span class="icon-text">My Twitter</span>
        </a>
        <a href="https://www.instagram.com/rhaam_rajamahanthi/" target="_blank" class="icon-circle">
          <img src="assets/images/instagram.png" alt="Instagram">
          <span class="icon-text">My Instagram</span>
        </a>
        <a href="https://www.linkedin.com/in/ramrajamahanthi/" target="_blank" class="icon-circle">
          <img src="assets/images/linkedin.png" alt="LinkedIn">
          <span class="icon-text">My Linkedin</span>
        </a>
        <a href="https://github.com/rramprabhakar" target="_blank" class="icon-circle">
          <img src="assets/images/githublogo.png" alt="GitHub">
          <span class="icon-text">My Github</span>
        </a>
      </div>
    </div>
  </div>
</section>